In [25]:
#Project 1
girls_name = ['Samantha  ', 'Jada      ', 'Jane      ', 'Claire    ', 'Elizabeth ', 'Mary      ', 
             'Susan     ', 'Waje      ', 'Taibat    ', 'Lilian    ']
girls_age = [17,16,17,18,16,18,17,20,19,17]
girls_height = [5.5,6.0,5.4,5.9,5.6,5.5,6.1,6.0,5.7,5.5]
girls_score = [80,85,70,60,76,66,87,95,50,49]

boys_name = ['Charles   ', 'Jude      ', 'James     ', 'Kelvin    ', 'Biodun    ',
            'Wale      ', 'Kunle     ', 'Matthew   ', 'Tom       ', 'Kayode    ']
boys_age = [19,16,18,17,20,19,16,18,17,19]
boys_height = [5.7,5.9,5.8,6.1,5.9,5.5,6.1,5.4,5.8,5.7]
boys_score = [74,87,75,68,66,78,87,98,54,60]

print("The table of information for the girls in the class is:")
print("Names      Ages Height Scores ")

for num in range(len(girls_age)):
    print(girls_name[num],        "|",girls_age[num],"|",girls_height[num],  "|",girls_score[num])
         
         
print("The table of information for the boys in the class is:")
print("Names      Ages Height Scores ")

for num in range(len(boys_age)):
    print(boys_name[num],        "|",boys_age[num],"|",boys_height[num],  "|",boys_score[num])

The table of information for the girls in the class is:
Names      Ages Height Scores
Samantha   | 17 | 5.5 | 80
Jada       | 16 | 6.0 | 85
Jane       | 17 | 5.4 | 70
Claire     | 18 | 5.9 | 60
Elizabeth  | 16 | 5.6 | 76
Mary       | 18 | 5.5 | 66
Susan      | 17 | 6.1 | 87
Waje       | 20 | 6.0 | 95
Taibat     | 19 | 5.7 | 50
Lilian     | 17 | 5.5 | 49
The table of information for the boys in the class is:
Names      Ages Height Scores
Charles    | 19 | 5.7 | 74
Jude       | 16 | 5.9 | 87
James      | 18 | 5.8 | 75
Kelvin     | 17 | 6.1 | 68
Biodun     | 20 | 5.9 | 66
Wale       | 19 | 5.5 | 78
Kunle      | 16 | 6.1 | 87
Matthew    | 18 | 5.4 | 98
Tom        | 17 | 5.8 | 54
Kayode     | 19 | 5.7 | 60

In [35]:
#Project 2
print("Welcome to the Staff Annual Tax Revenue (ATR) calculator.")

a = int(input('What is your age?'))
b = int(input('How many years of experience do you have? '))

if a >= 55 and b >= 25:
    print('Your Annual Tax Revenue (ATR) is N5,600,000.')
    
elif a >= 45 and b >= 20:
    print('Your Annual Tax Revenue (ATR) is N4,800,000.')
    
elif a >= 35 and b >= 10:
    print('Your Annual Tax Revenue (ATR) is N1,500,000.')
    
else:
    print('Your Annual Tax Revenue (ATR) is N550,000.')

Welcome to the Staff Annual Tax Revenue (ATR) calculator.
What is your age?10
How many years of experience do you have? 1
Your Annual Tax Revenue (ATR) is N550,000.